In [70]:
import pandas as pd
import numpy as np

In [71]:
ID_Number=['001','002','003','004','005','006','007','008','009','010']
Name=['Mary','John','Bob','Mel','Jen','Sue','Ken','Dave','Beth','Ray']
Pay_Rate=[15.00,22.0,35.00,43.00,17.00,29.00,40.00,20.00,37.00,16.50]
Hours_Worked=[40,25,4,62,33,45,36,17,37,80]
employee_Data=list(zip(ID_Number,Name,Pay_Rate, Hours_Worked))
df_employee=pd.DataFrame(data=employee_Data, columns=['ID_Number','Name','Pay_Rate', 'Hours_Worked'])
print(df_employee)

  ID_Number  Name  Pay_Rate  Hours_Worked
0       001  Mary      15.0            40
1       002  John      22.0            25
2       003   Bob      35.0             4
3       004   Mel      43.0            62
4       005   Jen      17.0            33
5       006   Sue      29.0            45
6       007   Ken      40.0            36
7       008  Dave      20.0            17
8       009  Beth      37.0            37
9       010   Ray      16.5            80

In [112]:
print('ID  Name  Payment')
for i in range (0,10):
    if Hours_Worked[i]>40:
        overtime=Hours_Worked[i]-40
        overpay=overtime*1.5*Pay_Rate[i]
        pay=40*Pay_Rate[i]+overpay
    elif Hours_Worked[i]<40:
        pay=Hours_Worked[i]*Pay_Rate[i] 
    print(ID_Number[i],Name[i], "$"+str(pay))

ID  Name  Payment
001 Mary $1650.0
002 John $550.0
003 Bob $140.0
004 Mel $3139.0
005 Jen $561.0
006 Sue $1377.5
007 Ken $1440.0
008 Dave $340.0
009 Beth $1369.0
010 Ray $1650.0